{% extends 'layout.html'%}
{% block content %}
 <div class="container-fluid col-md-6 col-md-6 ml-auto mr-auto ">

<!--     <div class="card card-style d-flex m-4">-->
<!--         <div class ="card-body">-->
            <form method="post" action="{{ url_for('addStudents') }}">
                {{ form.csrf_token }}

               <fieldset class="form-group">
                   <legend class="mb-4"> Student Registration Form</legend>
                   <div class="row">
                    <div class="col-sm">
               <div class="form-group">


                   <p>
                    {{ form.first_name.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "first_name">
                </p>
               </div>

                   <div class="form-group">
                       <p id="middle_name">
                    {{ form.middle_name.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "middle_name">
                </p>
                   </div>

                   <div class="form-group">
                       <p id = "last_name">
                    {{ form.last_name.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "last_name">
                </p>
                   </div>

                   <div class="form-group">
                       <p>
                    {{ form.gender.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "gender">
                </p>
                        </div>

                   <div class="form-group">
                       <p>
                    {{ form.date_of_birth.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "date_of_birth">
                </p>
                   </div>
                   <div class="form-group">
                       <p>
                    {{ form.matric_no.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "matric_no">
                </p>
                   </div>
                   <div class="form-group">
                       <p>
                    {{ form.email.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "email">
                </p>
                   </div>
                   <div class="form-group">
                       <p>
                    {{ form.phone_number.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "phone_number">
                </p>
                   </div>
                   <div class="form-group">
                       <p>
                    {{ form.college.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "college">
                </p>
                   </div>
                   </div>


                    <div class="col-sm">
                   <div class="form-group">
                       <p>
                    {{ form.department.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "department">
                </p>
                   </div>
                   <div class="form-group">
                       <p>
                    {{ form.level.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "level">
                </p>
                   </div>
                   <div class="form-group">
                       <p>
                    {{ form.photo.label(class="form.control.label") }}
                    <br>
                    <input type="file" name = "photo">
                </p>
                   </div>
                   <div class="form-group">
                       <p>
                    {{ form.address.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "address">
                </p>
                   </div>
                   <div class="form-group">
                       <p>
                    {{ form.state_of_origin.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "state_of_origin">
                </p>
                   </div>
                   <div class="form-group">
                       <p>
                    {{ form.local_government.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "local_government">
                </p>
                   </div>
                   <div class="form-group">
                       <p>
                    {{ form.guardian_name.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "guardian_name">
                </p>
                   </div>
                   <div class="form-group">
                       <p>
                    {{ form.guardian_number.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "guardian_number">
                </p>
                   </div>
                   <div class="form-group">
                       <p>
                    {{ form.guardian_address.label(class="form.control.label") }}
                    <br>
                    <input type="text" name = "guardian_address">
                </p>
                   </div>
                    </div>
                   </div>




<!--                   <div class="form-group border-bottom pb-3">-->
<!--                    <p>-->
<!--                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">-->
<!--                </p>-->

<!--                </div>-->
                   <div class="text-center submit">
                        {{ form.submit(class="btn btn-primary") }}
        </div>

            </fieldset>

            </form>
        </div>


<!--         {% if photo_path %}-->
<!--        <p>Photo uploaded successfully! Here's the photo:</p>-->
<!--        <img src="{{ url_for('uploaded_file', filename=photo_path) }}" alt="Uploaded Photo">-->
<!--    {% elif photo_path is none %}-->
<!--        <p>No valid photo uploaded.</p>-->
<!--    {% endif %}-
</div>



{% endblock %}